<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style rel="stylesheet.css"></style>
<body>
<div class="d-flex align-items-center justify-content-center w-100">
    <div>
    <form th:action="@{/addUser}" th:object="${user}" method="post">
        <div hidden>
            <input type="number" th:field="*{id}" placeholder="id" />
        </div>
        <div>
            <label>Username:</label>
            <input type="text" th:field="*{name}" placeholder="Full Name" />
        </div>
        <div>
            <label>Password:</label>
            <input type="text" th:field="*{password}" placeholder="password" />
        </div>
        <div>
            <label>Email:</label>
            <input type="email" th:field="*{email}" placeholder="email" />
        </div>
        <div>
            <label>Age:</label>
            <input type="number" value="13" th:field="*{age}" placeholder="age" />
        </div>
        <div>
            <label>Last Name:</label>
            <input type="text" th:field="*{city}" placeholder="city" />
        </div>
        <div>
            <label>First Name:</label>
            <input type="text" th:field="*{address}" placeholder="address" />
        </div>
        <div>
            <label>First Name:</label>
            <input type="text" th:field="*{zip}" placeholder="zip" />
        </div>
        <input type="submit" value="Submit" href="/addUser"/>
    </form>
    </div>
</div>
</body>
</html>